body {background:#F7F5F5 url('../images/bg.gif') repeat;}
ul {margin:0 0;}
li { list-style:none;}
a.img {display:block;}
.btn {
	position: relative;
	display: inline-block;
	padding: .45em .825em .45em;
	text-align: center;
	line-height: 1em;
	border: 1px solid transparent;
	border-radius: .2em;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-transition-property: color,-moz-box-shadow,text-shadow;
	-moz-transition-duration: .05s;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-property: color,-webkit-box-shadow,text-shadow;
	-webkit-transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	box-shadow: 0 1px rgba(255, 255, 255, .8),inset 0 1px rgba(255, 255, 255, .35);
	-moz-box-shadow: 0 1px rgba(255,255,255,.8),inset 0 1px rgba(255,255,255,.35);
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, .8),inset 0 1px rgba(255, 255, 255, .35);
	cursor: pointer;
}
.btn span {
	position: absolute;
	z-index: 1;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	display: block;
	border: 1px solid;
	opacity: 1;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	box-shadow: inset 0 1px rgba(255, 255, 255, .35);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.35);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .35);
	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
}
.btn strong {
	position: relative;
	z-index: 2;
	line-height: 15px;
}
strong {
	font-weight: 700;
}
.rbtn {
	color: #fff;
	text-shadow: 0 -1px 0 #350000;
}
.rbtn:hover{color:#fff;}
.rbtn span {
	border-color: #B00000;
	background-color: #D43638;
	background: -moz-linear-gradient(center top, #EB5367, #E04751 50%, #DE404A 50%, #D43638);
	background: -o-linear-gradient(top left, #EB5367, #E04751 50%, #DE404A 50%, #D43638);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5367', endColorstr='#d43638');
}
.wbtn {
	color: #524D4D;
	text-shadow: 0 1px rgba(255, 255, 255, .9);
}
.wbtn span {
	border-color: #BBB;
	background-color: #F0EDED;
	background: -moz-linear-gradient(center top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	background: -o-linear-gradient(top left, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
}
.btn13, .btn13 span {
	font-size: 13px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.btn18, .btn18 span {
	font-size: 18px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.less {color:#8C7E7E;}

.main {width:933px;margin:0 auto;text-align:left;position:relative;}
#footer{margin-top:20px;border-top:1px solid #E6E6E6;padding-top:6px;color:#999;text-align:center;}

/*======= header =======*/
.header {
	margin-bottom:20px;
}
#header-top { 
	background:#35BFE9;
	height:60px;
}
#header-top .main {padding-top:10px;}
.logo {color:#fff;float:left;overflow:hidden;width:230px;}
.logo a {color: #FFFFFF;float:left;margin:10px 0;font-size: 30px;}
.logo p{text-align:left;float:left;}
.weibo-follow {padding-top:5px;	text-align:center;padding:10px;float:left;}
.header_login {padding:5px 0;float:right;}
.user_nav {float:right;color:#555;margin:5px 0;padding:4px 5px;background:#fff;border-radius:3px;}
.user_nav a{color:#555;float:left;display:block;line-height:20px;}
.user_nav .caret{margin:5px;}
.user_nav img{width:20px;height:20px;margin-right:5px;border-radius:3px;position:relative;}
.user_nav .user-nav-menu {
	top:33px;
	right:0px;
	min-width:110px;
	position: absolute;
	z-index: 1000;
	display: none;
	padding: 4px 0;
	margin: 1px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #CCC;
	border-top:0px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.user-nav-menu  a {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
}
.header-nav {
	width:100%;
	height:40px;
	background:url('../images/nav-bg.png') repeat-x;
}
.header-nav .channel {float:left;}
.header-nav .channel li {
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 12px;
	margin-top: 12px;
	border-right: 1px solid #D5D5D5;
}
.header-nav .channel li.first {
	padding: 0 12px 0 0;
}
.header-nav .channel li a {
	font-size: 14px;
	font-weight: bold;
}
.header-nav .channel li a.on {
	color: #08c;
}
.header-nav .channel li.last { border-right:none; }
.header-nav .channel li.new a { display:block;line-height:16px;padding-right:28px;background-image:url(../images/new.png);background-repeat:no-repeat;background-position:right top; } 
.header-nav .channel li dl { float:left; margin:0; padding:0;} 
.header-nav .channel li dl dt, .header-nav .channel li dl dd { float:left; } 
.header-nav .channel li dl dd { padding:1px 0 0 6px; } 
.header-nav .channel dd a { color:#666;font-size:12px;font-weight:normal; }
.header-nav .header_login img {padding:3px 0;}

.back_to_top {
	/*background:url('../images/ui/return_top.png');*/
	background-color: #FFFFFF;
	border: 1px solid #ECECEC;
	border-radius: 8px 8px 8px 8px;
	bottom: 9px;
	color: #41545F;
	cursor: pointer;
	font-size: 0.87em;
	opacity: 0.9;
	padding: 10px 10px;
	position: fixed;
	right: 9px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 2em;
	z-index: 50;
}
.back_to_top:hover {
color: #41545F;
}
.tips {float:left;padding-top:16px;}
/*====== waterfall======*/
.pin {
	background:#fff;
	border-radius:3px;
	box-shadow: 0 1px 3px rgba(34,25,25,.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,.4);
	filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac,direction = 135,strength = 2);
	width:222px;
	color:#555;
	font-size:13px;
	z-index: 1;
	margin-right:10px;
	margin-bottom:15px;
	float:left;
}
.pin p{padding:0 10px;word-break:break-word;}
.pin .title{font-weight:bold;}
.pin .cover_image {padding:10px;border-radius:3px 3px 0 0;max-height:800px;overflow:hidden;}
.pin .author{padding:5px 10px;border-top:1px solid #ccc;color:#555;background:#FAFAFA;font-size:12px; border-radius:0 0 3px 3px;}
.author .author_avatar{ width:30px; float:left;padding-right:10px;}
.author .username a{ color:#555;}
.loading {margin-bottom:15px;padding:10px 0; text-align:center;font-weight:700;border:double rgba(34,25,25, .14); border-width:3px 0 0 0; display:none;}
.loading span {font-size:1.6em;}

/*===== addPin =======*/
.pb-wrapper form {float:left;}
.pb-main {min-height:500px;width:660px;padding:10px 20px;border:1px solid #c9cbcc;border-radius:5px;float:left;background:#f8f8f8;}
.pb-main-title { font-size:18px;color:#124062;height:30px;padding-bottom:10px;border-bottom:1px solid #e1e1e1;}
.pb-main-title span{float:left;}
.pb-post-area {padding:20px 0;}
.pb-image-holder {padding-bottom:10px;}
.pb-image-holder span {padding:0 10px;color:#8b8b8b;}
.pb-image-btn {padding:10px 20px;border:1px solid #ccc;border-radius:3px;}
.cover_image_show {
	width: 120px;
	height: 150px;
	overflow:hidden;
	position: absolute;
	top: 70px;
	left: 500px;
}
.cover_image_show img {
	border:2px solid #fff;
}

.cover_image_show_layout{
	position: absolute;
	z-index: 99999;
	left: 770px;
	border: 5px solid white;
	display:none;
}
.pb-title-input {
	width:400px;
}
.pb-section-title {
	color: #5C5C5C;
	font-size: 16px;
	font-weight: normal;
	margin-top:10px;
}
.pb-section-title span 
{
	color: #8B8B8B;
	font-size: 12px;
	margin-left: 5px;
}
.pb-desc-textarea {
	width:650px;
	height:50px;
}
.pb-content-holder {
	min-height:230px;
}
.pb-desc-holder span.counter{
	float:right;
}
#pb-content-textarea {
	font-size: 14px;
	color: #333;
	line-height: 20px;
	padding: 7px;
	width: 640px;
	outline: none;
	border: 1px solid #DDD;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #B7B7B7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: white;
}

.pb-aside {
	width: 226px;
	padding: 0;
	margin-top: 30px;
	float: right;
	background: #e5e5e5;
	min-height: 500px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #ccc;
	border-left:1px solid #e5e5e5;
}
.pb-aside.fixed{
	position:fixed;
	left:874px;
	top:30px;
}
.pb-submit-btn {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 10px 0;
	float: right;
	width: 100px;
	background-color: #D43638;
	background: -moz-linear-gradient(center top, #EB5367, #E04751 50%, #DE404A 50%, #D43638);
	background: -o-linear-gradient(top left, #EB5367, #E04751 50%, #DE404A 50%, #D43638);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5367', endColorstr='#d43638');
}
.cron-time-holder {
	padding:10px 10px 0 10px;
	display:none;
}
#post-privacy-holder {
	padding: 30px 10px 10px 10px;

}
.post-privacy-select {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	position:relative;
	font-size:16px;
	cursor:pointer;
}
.combobox-arrow {
	position: absolute;
	top: 17px;
	right: 8px;
	border-top: 4px solid #8C8C8C;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;
	border-bottom: none;
	width: 0;
	height: 0;
	overflow: hidden;
}
.private-menu {
	position: absolute;
	width: 180px;
	background: white;
	top: 39px;
	left: 10px;
	border-radius: 0 0 7px 7px;
	border: 1px solid #CCC;
	border-top: 0;
	line-height: 30px;
	display:none;
}
.private-menu li {
	line-height: 30px;
	padding: 5px 10px;
	font-size:14px;
	border-bottom: 1px solid #CCC;
}
.private-menu li:hover{
	background:#f5f5f5;
}
#post-tags-holder {padding:10px 10px 0 10px;}
#post-tags-holder textarea{width:196px;height:120px;resize: none;}
.bind_weibo_sync {
	padding:10px;
}
/*========= pin detail ========*/
.pin-detail-wrapper {
	background:#fff;
	border:1px solid #e8e8e8;
	border-radius:5px;
	min-height:400px;
	width:620px;
	float:left;
}
.aside {
	width:300px;
	float:right;
	overflow:hidden;
}
.pin-pinner {
	padding:20px;
	border-bottom:1px solid #D1CDCD;
	overflow:hidden;
}
.pin-pinner .pinner-avatar {float:left;width:50px;}
.pin-pinner .pinner-avatar img{display:block;width:50px;height:50px;}
.pin-pinner .pinner-name {padding-left:60px;text-decoration:none;}
.pin-pinner .pinner-name a{font-size:16px;color:#211922;}
.pin-pinner .pinner-stats {display:block;margin:5px 0 0;padding-left:60px;}
.pin-opt {float:right;display:block;}
.pin-content {
	padding:20px;
	width:580px;
	float:left;
	line-height:25px;
	font-size:14px;
}
.pin-content h2 { line-height:30px;font-size:1.231em;padding-bottom:15px;}
.pin-content img {max-width:580px;}

/*====== use profile =====*/
#user_info .profile { padding:15px;}
.profile .profile-basic {height:64px;margin-bottom:15px;line-height:30px;position:relative;}
.profile .profile-basic a  {text-align:left;display:block;margin-left:75px;color:#221919;}
.profile .profile-basic a.img {width:64px;height:64px;margin-left:0px;top:0;left:0;position:absolute;}
.profile .profile-basic a.user_name {
	font-size: 15px;
	font-weight: 700;
	height: 25px;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 5px;
	color:#221919;
}
.profile .profile-basic a.settings {
	font-size: 14px;
}
.profile .profile-stats {
	height: 47px;
	padding-top: 0;
	border-width: 1px 0;
	background: white;
}
.profile .profile-stats a {
	float: left;
	padding: 5px 10px;
	font-size: 12px;
	width: 40px;
	text-align: center;
	color: #999;
	text-decoration: none;
	border-left: 1px solid #F5F2F2;
}
.profile .profile-stats a.last {
	border-right: 1px solid #F5F2F2;
}
.profile .profile-stats a strong {
	font-size: 16px;
	display: block;
	color: black;
}
.profile-sidebar {}
.profile-sidebar h1{padding:0 10px;overflow:hidden;font-size:20px;}
.profile-sidebar p{padding:0 10px;word-wrap:break-word;}
.profile-sidebar p.stats {font-size:15px;}
.profile-sidebar p.stats a { margin-right:20px;color:#221919;}
.profile-sidebar p.stats a span { padding:0 4px;font-size:16px;}
.profile-sidebar .profile-avatar img {width:222px;height:200px;display:block;}
.profile-avatar .btn {
	display: block;
	margin: 15px 0 0;
}

/*============= nav bar =======*/
#nav_bar {
	margin: 20px 0;
	background: white;
	box-shadow: 0 1px 0 white inset,0 1px 3px rgba(0, 0, 0, .15);
	font-size: 14px;
	height: 40px;
	position: relative;
	z-index: 99;
}
#nav_bar .cases {
	border-right: 1px solid #EDEDED;
	float: left;
	height: 40px;
	padding-left: 15px;
	width: 205px;
}
#nav_bar .cases a {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	text-decoration: none;
}
#nav_bar .cases em {
	background: url("../images/main_menu_sprite.png") no-repeat scroll 0 -80px transparent;
	display: block;
	float: left;
	height: 18px;
	margin: 11px 3px 0 0;
	width: 18px;
}
.cases #nav_bar_latest:hover em, .cases #nav_bar_latest.active em {
	background-position: 0 -120px;
}
.cases .active {
	color: #CB2027;
}
#nav_bar .places {
	float: left;
	padding-left: 8px;
}
#nav_bar .places a {
	cursor: pointer;
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 8px;
	text-decoration: none;
}
#nav_bar .places a.active {
	color: #CB2027;
}
#nav_bar .add_pin {
	border-left: 1px solid #EDEDED;
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 0 7px 0 12px;
}
#nav_bar .add_pin a {
	display: block;
	float: left;
	height: 40px;
	padding: 0 8px;
	text-decoration: none;
}
#nav_bar_more_places {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.98);
	box-shadow: 0 1px 0 white inset, 0 1px 3px rgba(0, 0, 0, 0.15);
	display: none;
	font-size: 13px;
	left: 221px;
	line-height: 20px;
	overflow: hidden;
	padding: 15px 0 20px 20px;
	position: absolute;
	top: 41px;
	width: 530px;
	z-index: 99;
}
#nav_bar_more_places .row {
	border-right: 1px solid #EDEDED;
	float: left;
	height: 170px;
	margin-right: 10px;
	width: 120px;
}
#nav_bar_more_places .row a {
	display: block;
}
#nav_bar_more_places .last {
	border-right: 0 none;
	margin-right: 0;
}
#nav_bar_more_places .row .need-space {
	border-top: 1px solid #EDEDED;
	margin-top: 5px;
	padding-top: 5px;
	width: 110px;
}


/*======agreement=======*/
.agreement-box {
	background:#fff;
	border-radius:5px;
	padding:40px;
}
.agreement-box h2 {
	border-bottom: 0 none;
	text-align: center;
}
.agreement-box ul li {
	color: #333333;
	line-height: 2;
}
.agreement-box ul li h3 {
	margin: 20px 0 0;
}
.agreement-box ul li ol {
	line-height: 1.8;
	margin-left: 2em;
}
.agreement-box ul li ol pre, .agreement-box ul li pre {
	margin-left: 2em;
	background:#fff;
	border:0;
	padding:0;
	margin:0;
}
.agreement-box ul li p {
	color: #333333;
	line-height: 1.6;
	margin: 15px 0 0;
	padding-left: 2em;
}
