body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
a, input, button, select, textarea {
    outline: medium none;
}
textarea {
    resize: none;
}
li {
    list-style: none outside none;
}
img {
    border: medium none;
}
em, i {
    font-style: normal;
}
body, input, textarea {
    color: #444444;
    font-family: microsoft yahei,verdana,arial;
    font-size: 12px;
}
body {
    background: #EEEFF1;
    text-align: center;
    word-wrap: break-word;
}
a {
    color: #284790;
    text-decoration: none;
}
a:hover {
    color: #D42222;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.hide {
    display: none;
}
.header-sub, .wrap, .footer-sub {
    margin: 0 auto;
    width:960px;
    padding: 0 10px;
    position: relative;
    text-align: left;
}
.wrap {
	background:#fff;
    padding: 10px;
    z-index: 2;
	border-radius:10px;
}
.content {
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.button {
    background-clip: padding-box;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: block;
    font: 14px/1 'ProximaNovaBold';
    margin: 0 auto 20px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    background: none repeat scroll 0 0 #99C94B;
    color: #FFFFFF;
    float: left;
    width: 80px;
}

.addfeed .abtn, .searchsubmit, .feed-mail-btn {
    background-color: #F0F0F0;
    background-image: -moz-linear-gradient(#F9F9F9, #F0F0F0);
    color: #555555;
}
.post-list .tit, .feed-mail, #comment-author-info label, #smiley {
    background-color: #FEFEFE;
    background-image: -moz-linear-gradient(#FEFEFE, #F6F6F6);
}
.header {
    background-color: #35BFE9;
    border-bottom: 10px solid #EEEFF1;
    height: 90px;
    position: relative;
    z-index: 4;
}
.header-bg {
    background-color: #384368;
    border-bottom: 1px solid #283153;
    bottom: 0;
    display: block;
    height: 50%;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.logo {
    color: #FFFFFF;
    float: left;
    height: 70px;
    overflow: hidden;
    padding: 10px 0 0;
    width: 300px;
}
.logo a {
    color: #FFFFFF;
    display: block;
    font-size: 40px;
    height: 44px;
}
.logo p{
    text-align:left;
    padding:10px;
}
.weibo-follow {
    padding:25px;
}
.top-nav {
    border-left: 1px solid #2E3655;
    border-right: 1px solid #404A6F;
    display: inline;
    float: left;
    line-height: 43px;
    position: relative;
    z-index: 4;
}
.top-nav li {
    border-right: 1px solid #2E3655;
    display: inline;
    float: left;
    position: relative;
}
.top-nav a {
    border-left: 1px solid #404A6F;
    border-right: 1px solid #404A6F;
    color: #BEC2DA;
    display: block;
    padding: 0 12px;
}
.top-nav a:hover, .top-nav .current-menu-item a, .top-nav .current-post-ancestor a {
    background-color: #475277;
    border-left: 1px solid #505B80;
    border-right: 1px solid #505B80;
    color: #E8E9F2;
}
.top-nav .ico {
    background-color: #FFFFCC;
    border: 1px solid #FFC043;
    border-radius: 2px 2px 2px 2px;
    bottom: -8px;
    color: #F67B00;
    height: 15px;
    left: 0;
    line-height: 14px;
    margin-left: 4px;
    padding: 0 2px;
    position: absolute;
}
.top-menu {
    line-height: 44px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 2;
}
.top-menu li {
    float: left;
    margin-left: 15px;
}
.top-menu a {
    color: #BEC2DA;
}
.top-menu a:hover {
    color: #E8E9F2;
}
.header-tips {
    background-color: #FFF8D9;
    border: 1px solid #FEBE8F;
    border-radius: 2px 2px 2px 2px;
    color: #FF6600;
    margin: 15px 20px 0;
    padding: 7px 14px;
    text-align: center;
}

/*===main=====*/
.main {
    min-height: 600px;
    float: left;
    width: 600px;
}
.submain {
    
}

.feed-list{
   
}
.feed-item {
    margin-bottom:10px;
    padding-bottom:5px;
    float:left;
    border-bottom:1px dashed #ccc;
}
.feed-img {
    width:120px;
    float:left;
    max-height:200px;
    min-height:50px;
}
.feed-img img{
    width:120px;
    max-height:120px;
}
.feed-content {
    float:left;
    margin-left:10px;
    width:470px;
    font-size:14px;
}
.somenum {
    float: right;
    font-size: 14px;
}
.somenum strong {
    color: #D42222;
    font-size: 16px;
    margin: 0 4px;
}
.sitetit {
    color: #384368;
    font-size: 18px;
    margin-bottom: 12px;
    text-shadow: 0 0 2px #75C0F6;
}
.sitetip {
    color: #333333;
    font-size: 14px;
    margin-bottom: 12px;
}

/*=====sidebar=======*/
.sidebar {
    float: right;
    padding: 0;
    position: relative;
    width: 250px;
}
.sidebar .section {
    padding:10px 0 10px 0;
    float:left;
}
.section .head-line {
    font-size: 25px;
    font-weight: 700;
    color: #1D7591;
    text-decoration: none;
}

.box-content {
    
}

.footer {
    color: #666666;
    line-height: 22px;
    padding: 10px 0 30px;
    text-align: center;
    text-shadow: 1px 1px 0 #FEFEFE;
}
